a {
  width: 300px;
  display: block;
  text-decoration: none;
  outline: none;
  .card {
    border: 1px solid #c0c0c0;
  }
}
.card {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  background: white;
  color: #434343;
  &:hover {
    background: #f0f0f0;
  }
  header, section {
    background: none;
  }
  header {
    padding: 5px 7px;
    display: flex;
    gap: 7px;
    align-items: center;
    img {
      width: 24px;
    }
    svg {
      width: 24px;
      height: 24px;
    }
    hgroup {
      flex: 1;
      overflow: hidden;
      h2, h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3 {
        font-weight: normal;
        color: #a0a0a0;
      }
    }
  }
  h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  section p {
    margin: 0;
    font-size: 14px;
  }
  section.description {
    padding: 5px 7px;
    padding-bottom: 0;
  }
  section img {
    width: 100%;
  }
}
.card.loading h2 {
  font-weight: normal;
  color: #777;
}
.wrapper > a, .wrapper div {
  margin-bottom: 1em;
}

.icon {
  color: white;
  background: #434343;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.page {
  width: 500px;
  border: 1px solid #c8c8c8;
  position: relative;
  .body {
    padding: 0 15px;
    max-height: 500px;
    overflow-y: auto;
    &.loading {
      padding: 15px;
      text-align: center;
    }
  }
  h1 {
    font-size: 1em;
    padding: 10px 15px;
    font-family: sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    width: 100%;
    background: #f5f5f5;
    margin: 0;
    border-bottom: 1px solid #c8c8c8;
  }
  img {
    width: 400px;
    height: unset;
    margin: auto;
  }
  a {
    display: inline;
  }
  sup {
    opacity: 0;
  }
}
