a {
  text-decoration: none;
  outline: none;
  .card {
    border: 1px solid #c0c0c0;
  }
}
.card {
  width: 300px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  background: white;
  color: #434343;
  &:hover {
    background-color: #f0f0f0;
  }
  header, section {
    background: white;
  }
  header {
    padding: 5px 7px;
    display: flex;
    gap: 7px;
    align-items: center;
    img {
      width: 20px;
    }
    hgroup {
      flex: 1;
      overflow: hidden;
      h2, h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3 {
        font-weight: normal;
        color: #a0a0a0;
      }
    }
  }
  h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  section p {
    margin: 0;
    font-size: 14px;
  }
  section.description {
    padding: 5px 7px;
    padding-bottom: 0;
  }
  section img {
    width: 100%;
  }
}
.card.loading h2 {
  font-weight: normal;
  color: #777;
}
.wrapper > a, .wrapper div {
  margin-bottom: 1em;
}
